$appWidth: 1200px;

$familyTitle: "DM Serif Display";
$familyText: "Jost";
$font-400: 400;
$font-500: 500;
$font-600: 600;

//colors
$color-primary-1: #CDA274;
$color-primary-2: #292F36;
$color-primary-3: #E2E2E2;